http_interactions:
- request:
    method: GET
    uri: https://api.jolpi.ca/ergast/f1/1999.json?limit=40
  response:
    status: 200
    headers:
      Content-Type: application/json
      Allow: GET, HEAD, OPTIONS
    body:
      string: '{"MRData":{"xmlns":"","series":"f1","url":"https://api.jolpi.ca/ergast/f1/1999.json","limit":"40","offset":"0","total":"16","RaceTable":{"season":"1999","Races":[{"season":"1999","round":"1","url":"https://en.wikipedia.org/wiki/1999_Australian_Grand_Prix","raceName":"Australian
        Grand Prix","Circuit":{"circuitId":"albert_park","url":"https://en.wikipedia.org/wiki/Albert_Park_Circuit","circuitName":"Albert
        Park Grand Prix Circuit","Location":{"lat":"-37.8497","long":"144.968","locality":"Melbourne","country":"Australia"}},"date":"1999-03-07"},{"season":"1999","round":"2","url":"https://en.wikipedia.org/wiki/1999_Brazilian_Grand_Prix","raceName":"Brazilian
        Grand Prix","Circuit":{"circuitId":"interlagos","url":"https://en.wikipedia.org/wiki/Interlagos_Circuit","circuitName":"Autódromo
        José Carlos Pace","Location":{"lat":"-23.7036","long":"-46.6997","locality":"São
        Paulo","country":"Brazil"}},"date":"1999-04-11"},{"season":"1999","round":"3","url":"https://en.wikipedia.org/wiki/1999_San_Marino_Grand[...]
- request:
    method: GET
    uri: https://api.jolpi.ca/ergast/f1/2018.json?limit=40
  response:
    status: 200
    headers:
      Content-Type: application/json
      Allow: GET, HEAD, OPTIONS
    body:
      string: '{"MRData":{"xmlns":"","series":"f1","url":"https://api.jolpi.ca/ergast/f1/2018.json","limit":"40","offset":"0","total":"21","RaceTable":{"season":"2018","Races":[{"season":"2018","round":"1","url":"https://en.wikipedia.org/wiki/2018_Australian_Grand_Prix","raceName":"Australian
        Grand Prix","Circuit":{"circuitId":"albert_park","url":"https://en.wikipedia.org/wiki/Albert_Park_Circuit","circuitName":"Albert
        Park Grand Prix Circuit","Location":{"lat":"-37.8497","long":"144.968","locality":"Melbourne","country":"Australia"}},"date":"2018-03-25","time":"05:10:00Z","FirstPractice":{"date":"2018-03-23"},"SecondPractice":{"date":"2018-03-23"},"ThirdPractice":{"date":"2018-03-24"},"Qualifying":{"date":"2018-03-24"}},{"season":"2018","round":"2","url":"https://en.wikipedia.org/wiki/2018_Bahrain_Grand_Prix","raceName":"Bahrain
        Grand Prix","Circuit":{"circuitId":"bahrain","url":"https://en.wikipedia.org/wiki/Bahrain_International_Circuit","circuitName":"Bahrain
        International Circuit","Location":{"lat":"26.0325","long":"50.5106","locality":"Sakhir","country":"Bahrain"}},"date":"2018-04-08","time":"15:10:00Z","FirstPractice":{"date":"2018-04-06"},"SecondPractice":{"date":"2[...]
