http_interactions:
- request:
    method: GET
    uri: https://api.jolpi.ca/ergast/f1/1953/2/results.json?limit=100
  response:
    status: 200
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/json
      last-modified: Thu, 17 Sep 2026 21:48:42 GMT
    body:
      string: '{"MRData":{"xmlns":"","series":"f1","url":"https://api.jolpi.ca/ergast/f1/1953/2/results.json","limit":"100","offset":"0","total":"47","RaceTable":{"season":"1953","round":"2","Races":[{"season":"1953","round":"2","url":"https://en.wikipedia.org/wiki/1953_Indianapolis_500","raceName":"Indianapolis
        500","Circuit":{"circuitId":"indianapolis","url":"https://en.wikipedia.org/wiki/Indianapolis_Motor_Speedway","circuitName":"Indianapolis
        Motor Speedway","Location":{"lat":"39.795","long":"-86.2347","locality":"Indianapolis","country":"USA"}},"date":"1953-05-30","Results":[{"number":"14","position":"1","positionText":"1","points":"9","Driver":{"driverId":"vukovich","url":"http://en.wikipedia.org/wiki/Bill_Vukovich","givenName":"Bill","familyName":"Vukovich","dateOfBirth":"1918-12-13","nationality":"American"},"Constructor":{"constructorId":"kurtis_kraft","url":"https://en.wikipedia.org/wiki/Kurtis_Kraft","name":"Kurtis
        Kraft","nationality":"American"},"grid":"1","laps":"200","status":"Finished","Time":{"millis":"13981690","time":"3:53:01.690"}},{"number":"16","position":"2","positionText":"2","points":"6","Driver":{"driverId":"cross","url":"http://en.wikipedia.org/wiki/Art_Cross","givenName":"Art","familyName":"Cross","dateOfBirth":"1918-01-24","nationality":"American"},"Constructor":{"constructorId":"kurtis_kraft","url":"https://en.wikipedia.org/wiki/Kurtis_Kraft","name":"Kurtis
        Kraft","nationality":"American"},"grid":"12","laps":"200","status":"Finished","Time":{"millis":"14192560","time":"+3:30.870"}},{"numbe[...]
