http_interactions:
- request:
    method: GET
    uri: https://api.jolpi.ca/ergast/f1/2003/1/results.json?limit=40
  response:
    status: 200
    headers:
      Content-Type: application/json
      Allow: GET, HEAD, OPTIONS
    body:
      string: '{"MRData":{"xmlns":"","series":"f1","url":"https://api.jolpi.ca/ergast/f1/2003/1/results.json","limit":"40","offset":"0","total":"20","RaceTable":{"season":"2003","round":"1","Races":[{"season":"2003","round":"1","url":"https://en.wikipedia.org/wiki/2003_Australian_Grand_Prix","raceName":"Australian
        Grand Prix","Circuit":{"circuitId":"albert_park","url":"https://en.wikipedia.org/wiki/Albert_Park_Circuit","circuitName":"Albert
        Park Grand Prix Circuit","Location":{"lat":"-37.8497","long":"144.968","locality":"Melbourne","country":"Australia"}},"date":"2003-03-09","Results":[{"number":"5","position":"1","positionText":"1","points":"10","Driver":{"driverId":"coulthard","code":"COU","url":"http://en.wikipedia.org/wiki/David_Coulthard","givenName":"David","familyName":"Coulthard","dateOfBirth":"1971-03-27","nationality":"British"},"Constructor":{"constructorId":"mclaren","url":"http://en.wikipedia.org/wiki/McLaren","name":"McLaren","nationality":"British"},"grid":"11","laps":"58","status":"Finished","Time":{"millis":"5682100","time":"1:34:42.100"}},{"number":"3","position":"2","positionText":"2","points":"8","Driver":{"driverId":"montoya","code":"MON","url":"http://en.wikipedia.org/wiki/Juan_Pablo_Montoya","givenName":"Juan","familyName":"Pablo
        Montoya","dateOfBirth":"1975-09-20","nationality":"Colombian"},"Constructor":{"constructorId":"williams","url":"http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering","name":"Williams","nationality":"British"},"grid":"3","laps":"58","status":"Finished","Time":{"millis":"5690775","time":"+8.675"}},{"number":"6","position":"3","positionText":"3","points":"6","Driver":{"driverId":"raikkonen","permanentNumber":"7","code":"RAI","url":"http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C3%B6nen","givenName":"Kimi","familyName":"Räikkönen","dateOfBirth":"1979-10-17","nationality":"Finnish"},"Constructor":{"constructorId":"mclaren","url":"http://en.wikipedia.org/wiki/McLaren","name":"McLaren","nationality":"British"},"grid":"15","laps":"58","status":"Finished","Time":{"millis":"5691292","time":"+9.192"}},{"number":"1","position":"4","positionText":"4","points":"5","Driver":{"driverId":"michael_schumacher","code[...]
- request:
    method: GET
    uri: https://api.jolpi.ca/ergast/f1/2025/1/results.json?limit=40
  response:
    status: 200
    headers:
      Content-Type: application/json
      Allow: GET, HEAD, OPTIONS
    body:
      string: '{"MRData":{"xmlns":"","series":"f1","url":"https://api.jolpi.ca/ergast/f1/2025/1/results.json","limit":"40","offset":"0","total":"20","RaceTable":{"season":"2025","round":"1","Races":[{"season":"2025","round":"1","url":"https://en.wikipedia.org/wiki/2025_Australian_Grand_Prix","raceName":"Australian
        Grand Prix","Circuit":{"circuitId":"albert_park","url":"https://en.wikipedia.org/wiki/Albert_Park_Circuit","circuitName":"Albert
        Park Grand Prix Circuit","Location":{"lat":"-37.8497","long":"144.968","locality":"Melbourne","country":"Australia"}},"date":"2025-03-16","time":"04:00:00Z","Results":[{"number":"4","position":"1","positionText":"1","points":"25","Driver":{"driverId":"norris","permanentNumber":"4","code":"NOR","url":"http://en.wikipedia.org/wiki/Lando_Norris","givenName":"Lando","familyName":"Norris","dateOfBirth":"1999-11-13","nationality":"British"},"Constructor":{"constructorId":"mclaren","url":"http://en.wikipedia.org/wiki/McLaren","name":"McLaren","nationality":"British"},"grid":"1","laps":"57","status":"Finished","Time":{"millis":"6126304","time":"1:42:06.304"},"FastestLap":{"rank":"1","lap":"43","Time":{"time":"1:22.167"}}},{"number":"1","position":"2","positionText":"2","points":"18","Driver":{"driverId":"max_verstappen","permanentNumber":"33","code":"VER","url":"http://en.wikipedia.org/wiki/Max_Verstappen","givenName":"Max","familyName":"Verstappen","dateOfBirth":"1997-09-30","nationality":"Dutch"},"Constructor":{"constructorId":"red_bull","url":"http://en.wikipedia.org/wiki/Red_Bull_Racing","name":"Red
        Bull","nationality":"Austrian"},"grid":"3","laps":"57","status":"Fini[...]
[...]
