http_interactions:
- request:
    method: GET
    uri: https://api.jolpi.ca/ergast/f1/1999/drivers.json?limit=40
  response:
    status: 200
    headers:
      Content-Type: application/json
      Allow: GET, HEAD, OPTIONS
    body:
      string: '{"MRData":{"xmlns":"","series":"f1","url":"https://api.jolpi.ca/ergast/f1/1999/drivers.json","limit":"40","offset":"0","total":"24","DriverTable":{"season":"1999","Drivers":[{"driverId":"alesi","url":"http://en.wikipedia.org/wiki/Jean_Alesi","givenName":"Jean","familyName":"Alesi","dateOfBirth":"1964-06-11","nationality":"French"},{"driverId":"badoer","code":"BAD","url":"http://en.wikipedia.org/wiki/Luca_Badoer","givenName":"Luca","familyName":"Badoer","dateOfBirth":"1971-01-25","nationality":"Italian"},{"driverId":"barrichello","code":"BAR","url":"http://en.wikipedia.org/wiki/Rubens_Barrichello","givenName":"Rubens","familyName":"Barrichello","dateOfBirth":"1972-05-23","nationality":"Brazilian"},{"driverId":"coulthard","code":"COU","url":"http://en.wikipedia.org/wiki/David_Coulthard","givenName":"David","familyName":"Coulthard","dateOfBirth":"1971-[...]
