http_interactions:
- request:
    method: GET
    uri: https://api.jolpi.ca/ergast/f1/2021/last/constructorStandings.json?limit=40
  response:
    status: 200
    headers:
      Content-Type: application/json
      Allow: GET, HEAD, OPTIONS
    body:
      string: '{"MRData":{"xmlns":"","series":"f1","url":"https://api.jolpi.ca/ergast/f1/2021/last/constructorstandings.json","limit":"40","offset":"0","total":"10","StandingsTable":{"season":"2021","round":"22","StandingsLists":[{"season":"2021","round":"22","ConstructorStandings":[{"position":"1","positionText":"1","points":"613.5","wins":"9","Constructor":{"constructorId":"mercedes","url":"http://en.wikipedia.org/wiki/Mercedes-Benz_in_Formula_One","name":"Mercedes","nationality":"German"}},{"position":"2","positionText":"2","points":"585.5","wins":"11","Constructor":{"constructorId":"red_bull","url":"http://en.wikipedia.org/wiki/Red_Bull_Racing","name":"Red
        Bull","nationality":"Austrian"}},{"position":"3","positionText":"3","points":"323.5","wins":"0","Constructor":{"constructorId":"ferrari","url":"http://en.wikipedia.org/wiki/Scuderia_Ferrari","name":"Ferrari","nationality":"Italian"}},{"position":"4","positionText":"4","points":"275","wins":"1","Constructor":{[...]
