http_interactions:
- request:
    method: GET
    uri: https://api.jolpi.ca/ergast/f1/2025/2/sprint.json?limit=40
  response:
    status: 200
    headers:
      Content-Type: application/json
      Allow: GET, HEAD, OPTIONS
    body:
      string: '{"MRData":{"xmlns":"","series":"f1","url":"https://api.jolpi.ca/ergast/f1/2025/2/sprint.json","limit":"40","offset":"0","total":"20","RaceTable":{"season":"2025","round":"2","Races":[{"season":"2025","round":"2","url":"https://en.wikipedia.org/wiki/2025_Chinese_Grand_Prix","raceName":"Chinese
        Grand Prix","Circuit":{"circuitId":"shanghai","url":"https://en.wikipedia.org/wiki/Shanghai_International_Circuit","circuitName":"Shanghai
        International Circuit","Location":{"lat":"31.3389","long":"121.22","locality":"Shanghai","country":"China"}},"date":"2025-03-23","time":"07:00:00Z","SprintResults":[{"number":"44","position":"1","positionText":"1","points":"8","Driver":{"driverId":"hamilton","permanentNumber":"44","code":"HAM","url":"http://en.wikipedia.org/wiki/Lewis_Hamilton","givenName":"Lewis","familyName":"Hamilton","dateOfBirth":"1985-01-07","nationality":"British"},"Constructor":{"constructorId":"ferrari","url":"http://en.wikipedia.org/wiki/Scuderia_Ferrari","name":"Ferrari","nationality":"Italian"},"grid":"1","laps":"19","status":"Finished","Time":{"millis":"1839965","time":"30:39.965"},"FastestLap":{"rank":"1","lap":"2","Time":{"time":"1:35.399"}}},{"number":"81","position":"2","positionText":"2","points":"7","Driver":{"driverId":"piastri","permanentNumber":"81","code":"PIA","url":"http://en.wikipedia.org/wiki/Oscar_Piastri","givenName":"Oscar","familyName":"Piastri","dateOfBirth":"2001-04-06","nationality":"Australian"},"Constructor":{"constructorId":"mclaren","url":"http://en.wikipedia.org/wiki/McLaren","name":"McLaren","nationality":"British"},"grid":"3","laps":"19","status":"Finished","Time":{"millis":"[...]
- request:
    method: GET
    uri: https://api.jolpi.ca/ergast/f1/2021/11/sprint.json?limit=40
  response:
    status: 200
    headers:
      Content-Type: application/json
      Allow: GET, HEAD, OPTIONS
    body:
      string: '{"MRData":{"xmlns":"","series":"f1","url":"https://api.jolpi.ca/ergast/f1/2021/11/sprint.json","limit":"40","offset":"0","total":"0","RaceTable":{"season":"2021","round":"11","Races":[]}}}'
  recorded_at: 2025-08-04 01:39:22
recorded_with: VCR-vcr/2.0.0
