http_interactions:
- request:
    method: GET
    uri: https://api.jolpi.ca/ergast/f1/2021/25/pitstops.json?limit=100
  response:
    status: 200
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/json
      last-modified: Thu, 17 Sep 2026 21:51:00 GMT
    body:
      string: '{"MRData":{"xmlns":"","series":"f1","url":"https://api.jolpi.ca/ergast/f1/2021/25/pitstops.json","limit":"100","offset":"0","total":"0","RaceTable":{"season":"2021","round":"25","Races":[]}}}'
  recorded_at: 2026-09-17 21:51:31
recorded_with: VCR-vcr/2.1.0
