http_interactions:
- request:
    method: GET
    uri: https://api.jolpi.ca/ergast/f1/2004/1/qualifying.json?limit=40
  response:
    status: 200
    headers:
      Content-Type: application/json
      Allow: GET, HEAD, OPTIONS
    body:
      string: '{"MRData":{"xmlns":"","series":"f1","url":"https://api.jolpi.ca/ergast/f1/2004/1/qualifying.json","limit":"40","offset":"0","total":"20","RaceTable":{"season":"2004","round":"1","Races":[{"season":"2004","round":"1","url":"https://en.wikipedia.org/wiki/2004_Australian_Grand_Prix","raceName":"Australian
        Grand Prix","Circuit":{"circuitId":"albert_park","url":"https://en.wikipedia.org/wiki/Albert_Park_Circuit","circuitName":"Albert
        Park Grand Prix Circuit","Location":{"lat":"-37.8497","long":"144.968","locality":"Melbourne","country":"Australia"}},"date":"2004-03-07","QualifyingResults":[{"number":"1","position":"1","Driver":{"driverId":"michael_schumacher","code":"MSC","url":"http://en.wikipedia.org/wiki/Michael_Schumacher","givenName":"Michael","familyName":"Schumacher","dateOfBirth":"1969-01-03","nationality":"German"},"Constructor":{"constructorId":"ferrari","url":"http://en.wikipedia.org/wiki/Scuderia_Ferrari","name":"Ferrari","nationality":"Italian"},"Q1":"1:24.408"},{"number":"2","position":"2","Driver":{"driverId":"barrichello","code":"BAR","url":"http://en.wikipedia.org/wiki/Rubens_Barrichello","givenName":"Rubens","familyName":"Barrichello","dateOfBirth":"1972-05-23","nationality":"Brazilian"},"Constructor":{"constructorId":"ferrari","url":"http://en.wikipedia.org/wiki/Scuderia_Ferrari","name":"Ferrari","nationality":"Italian"},"Q1":"1:24.482"},{"number":"3","position":"3","Driver":{"driverId":"montoya","code":"MON","url":"http://en.wikipedia.org/wiki/Juan_Pablo_Montoya","givenName":"Juan","familyName":"Pablo
        Montoya","dateOfBirth":"1975-09-20","nationality":"Colombian"},"Constructor":{"constructorId":"williams","url":"http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering","name":"Williams","nationality":"British"},"Q1":"1:24.998"},{"number":"9","position":"4","Driver":{"driverId":"button","permanentNumber":"22","code":"BUT","url":"http://en.wikipedia.org/wiki/Jenson_Button","givenName":"Jenson","familyName":"Button","dateOfBirth":"1980-01-19","nationality":"British"},"Constructor":{"constructorId":"bar","url":"http://en.wikipedia.org/wiki/British_American_Racing","name":"BAR","nationality":"British"},"Q1":"1:24.998"},{"number":"8","position":"5","Driver":{"driverId":"alonso","permanentNumber":"14","code":"ALO","url":"http://en.wikipedia.org/wiki/Fernando_Alonso","givenName":"Fernando","familyName"[...]
- request:
    method: GET
    uri: https://api.jolpi.ca/ergast/f1/2015/16/qualifying.json?limit=40
  response:
    status: 200
    headers:
      Content-Type: application/json
      Allow: GET, HEAD, OPTIONS
    body:
      string: '{"MRData":{"xmlns":"","series":"f1","url":"https://api.jolpi.ca/ergast/f1/2015/16/qualifying.json","limit":"40","offset":"0","total":"20","RaceTable":{"season":"2015","round":"16","Races":[{"season":"2015","round":"16","url":"https://en.wikipedia.org/wiki/2015_United_States_Grand_Prix","raceName":"United
        States Grand Prix","Circuit":{"circuitId":"americas","url":"https://en.wikipedia.org/wiki/Circuit_of_the_Americas","circuitName":"Circuit
        of the Americas","Location":{"lat":"30.1328","long":"-97.6411","locality":"Austin","country":"USA"}},"date":"2015-10-25","time":"19:00:00Z","QualifyingResults":[{"number":"6","position":"1","Driver":{"driverId":"rosberg","permanentNumber":"6","code":"ROS","url":"http://en.wikipedia.org/wiki/Nico_Rosberg","givenName":"Nico","familyName":"Rosberg","dateOfBirth":"1985-06-27","nationality":"German"},"Constructor":{"constructorId":"mercedes","url":"http://en.wikipedia.org/wiki/Mercedes-Benz_in_Formula_One","name":"Mercedes","nationality":"German"},"Q1":"1:56.671","Q2":"1:56.824"},{"number":"44","position":"2","Driver":{"driverId":"hamilton","permanentNumber":"44","code":"HAM","url":"http://en.wikipedia.org/wiki/Lewis_Hamilton","givenName":"Lewis","familyName":"Hamilton","dateOfBirth":"1985-01-07","nationality":"British"},"Constructor":{"constructorId":"mercedes","url":"http://en.wikipedia.org/wiki/Mercedes-Benz_in_Formula_One","name":"Mercedes","nationality":"German"},"Q1":"1:56.871","Q2":"1:56.929"},{"number":"3","position":"3","Driver":{"driverId":"ricciard[...]
