http_interactions:
- request:
    method: GET
    uri: https://api.jolpi.ca/ergast/f1/1953/drivers.json?limit=100
  response:
    status: 200
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/json
      last-modified: Thu, 17 Sep 2026 21:48:40 GMT
    body:
      string: '{"MRData":{"xmlns":"","series":"f1","url":"https://api.jolpi.ca/ergast/f1/1953/drivers.json","limit":"100","offset":"0","total":"108","DriverTable":{"season":"1953","Drivers":[{"driverId":"adolff","url":"http://en.wikipedia.org/wiki/Kurt_Adolff","givenName":"Kurt","familyName":"Adolff","dateOfBirth":"1921-11-05","nationality":"German"},{"driverId":"agabashian","url":"http://en.wikipedia.org/wiki/Fred_Agabashian","givenName":"Fred","familyName":"Agabashian","dateOfBirth":"1913-08-21","nationality":"American"},{"driverId":"ascari","url":"http://en.wikipedia.org/wiki/Alberto_Ascari","givenName":"Alberto","familyName":"Ascari","dateOfBirth":"1918-07-13","nationality":"Italian"},{"driverId":"ayulo","url":"http://en.wikipedia.org/wiki/Manny_Ayulo","givenName":"Manny","familyName":"Ayulo","dateOfBirth":"1921-10-20","nationa[...]
- request:
    method: GET
    uri: https://api.jolpi.ca/ergast/f1/1953/drivers.json?limit=100&offset=100
  response:
    status: 200
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/json
      last-modified: Thu, 17 Sep 2026 21:48:41 GMT
    body:
      string: '{"MRData":{"xmlns":"","series":"f1","url":"https://api.jolpi.ca/ergast/f1/1953/drivers.json","limit":"100","offset":"100","total":"108","DriverTable":{"season":"1953","Drivers":[{"driverId":"wacker","url":"ht[...]
